/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
/* Переменные */
:root {
  --color-primary: rgb(81, 133, 133);
  --color-second: rgb(24, 41, 41);
}
/*--------------------*/
body {
  height: 100%;
  background-color: rgb(202, 216, 243, 0.5);
}
.container {
  background-image: url(images/fon.png);
  background-repeat: repeat-x repeat-y;
  max-width: 800px;
  min-height: 100%;
  margin: 0px auto;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 10px var(--color-second);
  overflow-x: auto;
}

/* Меню (к сожалению, не бургер) */
.nav {
  background-color: var(--color-primary);
  border-bottom: 2px solid var(--color-second);
}
.nav_row {
  margin: 0px auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.menu_link {
  color: aliceblue;
  font-size: 18px;
}
.menu_link:hover {
  text-decoration: underline;
}

#menu_toggle {
  opacity: 0;
} /*
#menu_toggle:checked ~ .menu_btn {
  position: fixed;
  top: 20px;
  right: 20px;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_list {
  visibility: visible;
  right: 0;
}*/

/* Заголовок */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0 20px 0;
  padding: 0 0 30px 0;
}

.header__row {
  /* border: 1px solid lightgreen;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img#ava {
  width: 300px;
  height: 300px;
  border: 10px outset var(--color-primary);
  border-radius: 50%;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-second);
  text-align: center;
  letter-spacing: 3px;
}
.contact_list {
  font-size: 16px;
}
.contact_list > li {
  padding: 10px 0 10px 30px;
}
li#tel {
  background: url(images/icon/tel.png) left no-repeat;
}
li#discord {
  background: url(images/icon/discord.png) left no-repeat;
}
li#email {
  background: url(images/icon/email.png) left no-repeat;
}

h4 {
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  padding: 30px 0 40px 0;
}
/*----------------------*/

/* Основной контент */
.main {
  flex: 1 1 auto;
}
.main_row {
  /*border: 1px solid lightgreen;*/
  display: flex;
  justify-content: left;
  align-items: top;
  flex-wrap: wrap;
}

.column_100 {
  /* border: 2px solid lightgrey;*/
  flex-basis: 100%;
  align-self: center;
}

.column_33 {
  /* border: 2px solid lightgrey;*/
  flex-basis: 33%;
}

.column_50 {
  /* border: 2px solid lightgrey;*/
  flex-basis: 33%;
}

h3 {
  line-height: 25px;
  margin: 15px;
  color: var(--color-second);
}
.ul_section {
  line-height: 25px;
  margin: 15px;
  color: var(--color-second);
}
.ul_section > li {
  padding: 5px 0 0 0;
}

h2 {
  background: linear-gradient(
    to right,
    /* var(--color-second) 0%,*/ var(--color-primary) 0%,
    transparent 70%
  );
  font-size: 20px;
  font-weight: 700;
  color: aliceblue;
  text-align: left;
  padding: 0 0 0 30px;
  line-height: 30px;
  letter-spacing: 2px;
}

.column_100 > h2 {
  background: linear-gradient(
    to right,
    transparent 25%,
    /* var(--color-primary) 20%,*/ var(--color-primary) 50%,
    /* var(--color-primary) 80%,*/ transparent 75%
  );
  text-align: center;
}
figure {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  margin: 20px auto;
}
figure > img {
  flex-basis: 40%;
  margin: 0 20px 0 20px;
}
figure > figcaption {
  flex-basis: 50%;
}
pre {
  width: 700px;
  margin: 10px 40px;
  white-space: pre-wrap;
}
/*---------------------*/
/*---Футер---*/
.footer {
  background-color: var(--color-primary);
}
.footer_row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 60px;
}
.footer_row > p {
  color: aliceblue;
  font-size: 18px;
}
/*-------------*/

@media (min-width: 767px) {
  .menu_list {
    display: flex;
    align-items: center;
  }
  .menu_list > li {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .column_33 {
    flex-basis: 100%;
  }
  .column_100 > h2,
  h2 {
    background: linear-gradient(
      to right,
      var(--color-primary) 0%,
      transparent 100%
    );
    text-align: left;
  }
  pre {
    width: 80vw;
  }

  /* .menu_btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 40px;
    width: 26px;
    height: 26px;
    z-index: 1;
  }

  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #252525;
    transition-duration: 0.25s;
  }
  .menu_btn > span::before {
    content: "";
    top: -8px;
  }
  .menu_btn > span::after {
    content: "";
    top: 8px;
  }

  .menu_list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 400px;
    margin: 0;
    padding: 30px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .menu_link {
    color: var(--color-second);

    font-size: 18px;
  }

  .menu_list > li {
    padding: 5px;
  }*/

  /*.item_code {
    margin: 20px 0 20px 0;
  }*/
}
